@model Web.Models.Flights.FlightCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new flight</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationFrom" class="control-label"></label>
                <input asp-for="LocationFrom" class="form-control" />
                <span asp-validation-for="LocationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationTo" class="control-label"></label>
                <input asp-for="LocationTo" class="form-control" />
                <span asp-validation-for="LocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandingTime" class="control-label"></label>
                <input asp-for="LandingTime" class="form-control" />
                <span asp-validation-for="LandingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneType" class="control-label"></label>
                <input asp-for="PlaneType" class="form-control" />
                <span asp-validation-for="PlaneType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneNumber" class="control-label"></label>
                <input asp-for="PlaneNumber" class="form-control" />
                <span asp-validation-for="PlaneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotName" class="control-label"></label>
                <input asp-for="PilotName" class="form-control" />
                <span asp-validation-for="PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegularSeats" class="control-label"></label>
                <input asp-for="RegularSeats" class="form-control" />
                <span asp-validation-for="RegularSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessSeats" class="control-label"></label>
                <input asp-for="BusinessSeats" class="form-control" />
                <span asp-validation-for="BusinessSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
